body {
    height: 100vh;
}

.banner {
    position: relative;
    height: 100%;
}

.banner .banner-image {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.banner .banner-content {
    position: absolute;
    top: 40%;
    left: 10%;
}

.banner .banner-content .banner-title {
    font-size: 3rem;
}

.banner .banner-content .banner-subtitle {
    font-size: 1.5rem;
}

.suggested {
    height: 100%;
    border-bottom: 1px solid red;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
}

.suggested .suggested-row .title{
    font-size: 1.3rem;
}

.suggested .suggested-row{
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.suggested .suggested-row .card-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.suggested .suggested-row .card-item{
    scroll-snap-align: start; 
    aspect-ratio: 1.5/2;
    height: 200px;
    margin-right: 10px;  
    border-radius: 5px; 
    background-color: white;
    box-shadow: 0px 0px 10px 0.1px rgb(209, 209, 209);
    position: relative;
    padding: 5px;
}

.suggested .suggested-row .card-item:hover{
    box-shadow: 0px 0px 10px 0.5px rgb(255, 255, 255);
}



#suggested-items-container .card-item .StoreName{
    width: 100%;
    font-size: 0.7rem;
    padding-bottom: 2.5px;
    margin-bottom: 2.5px;
    border-bottom: 1px solid gainsboro;
}

#suggested-items-container .card-item .ItemImage{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    padding-bottom: 2.5px;
    margin-bottom: 2.5px;
    border: 1px solid gainsboro;
    overflow: hidden;
}

#suggested-items-container .card-item .ItemName {
    font-size: 0.9rem;
    font-weight: 550;
    text-align: center;
}


#suggested-items-container .card-item .ItemCategory {
    font-size: 0.7rem;
    text-align: center;
}

#suggested-items-container .card-item .ItemPrice {
    font-size: 0.8rem;
    text-align: center;
}


#suggested-items-container .card-item .Button {
    text-align: center;
    margin-top: 5px;
    width: 100%;
    border-top: 1px solid gainsboro;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}





#suggested-stores-container .card-item .StoreImage{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    padding-bottom: 2.5px;
    margin-bottom: 2.5px;
    border: 1px solid gainsboro;
    overflow: hidden;
}

#suggested-stores-container .card-item .StoreName {
    font-size: 0.9rem;
    font-weight: 550;
    text-align: center;
}


#suggested-stores-container .card-item .Button {
    margin-top: 20px;
    text-align: center;
    margin-top: 8px;
    width: 100%;
    border-top: 1px solid gainsboro;
    padding: 10px;
}

.suggested .suggested-row .card-item .button button{
    width: 100%;
    cursor: pointer;
    background-color: burlywood;
    border: 1px solid rgb(250, 205, 147);
    border-radius: 4px;
    font-weight: 100;
}

.suggested .suggested-row .card-item .button Button:hover {
    border-color: burlywood;
}

.suggested .suggested-row .card-item .button Button:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px 1px rgba(109, 109, 109, 0.411);
}


.about {
    height: 100%;
    border-bottom: 1px solid red;
}

.footer {
    height: 200px;
}